<form method = "POST">
    
    <input 
      class = "form-control mb-3" 
      name = "nome" 
      placeholder = "Nome" 
      required
    >

    <input 
      class = "form-control mb-3" 
      type = "email" 
      name = "email" 
      placeholder = "Email" 
      required
    >

    <input 
      class= "form-control mb-3"
      type= "password" 
      name= "senha" 
      placeholder= "Senha"
      required
    >

    <input 
      class = "form-control mb-3"
      type = "date"
      name = "nascimento"
      required
    >

    <select 
      class="form-control mb-3" 
      name="funcao">
        <option value = "vendedor"> Vendedor </option>
        <option value = "comprador"> Comprador </option>
    </select>

    <select 
      class = "form-control mb-3" 
      name = "genero">
        <option value = "Masculino"> Masculino </option>
        <option value = "Feminino"> Feminino</option>
        <option value = "Outro"> Outro </option>
    </select> 

    <input
      type="password"
      name="senha"
      class="form-control mb-3"
      placeholder="Senha"
      required      
    >

    <button 
      class = "btn btn-primary w-100"> Cadastrar 
    </button>

</form>